<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      .hidden {
          display: none;
          
      }
      ul {
          list-style: none;
          padding: 0px;
          margin: 0px;
          width: 200px;
      }
      li {
          clear: both;
      }
      li button {
          -webkitappearance: none;
          border: none;
          outline: none;
          color: red;
          float: right;
          cursor: pointer;
          font-size: 20px;
          background: none;
      }

      .card {
        margin: 0 auto; /* Added */
        float: left; /* Added */
        margin-bottom: 10px; /* Added */
    }
    </style>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Todos</h5>
        <p class="card-text">Add a todo</p>
        <form id="form">
          <div class="input-group">
            <input type="text" class="form-control" name="description" id="description">
            <input type="submit" class="btn btn-outline-secondary" value="Add" /></button>
          </div>

        </form>
        <ul id="todos">
          {% for d in data %}
          <li><input type="checkbox" data-id="{{ d.id }}" class="check-completed " 
          {% if d.completed %} checked {% endif %}/> 
          {{ d.description }}
           <button class="delete-todo" data-id="{{ d.id }}">&cross;</button>
          </li>
          {% endfor %}
    </ul>
    </div>
  </div>
    <div id="error" class="hidden">Something went wrong</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        const deleteTodos = document.querySelectorAll('.delete-todo');
        for(let i = 0; i < deleteTodos.length; i++) {
            const btn = deleteTodos[i];
            btn.onclick = function (e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                });
            }

        }

        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i =0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function (e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                const newCompleted = e.target.checked;
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST', 
                    body: JSON.stringify({
                        'completed' : newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function() {
                    document.getElementById('error').className = 'hidden';
                }).catch(function(){
                    document.getElementById('error').className = 'error';
                })
            }

        }
        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body : JSON.stringify({
                    'description' : document.getElementById('description').value
                }),
                headers: {
                    'Content-Type' : 'application/json'
                }
            }).then(function(response) {
                return response.json();
            }).then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI'); //Create a new li HTML element
                liItem.innerHTML = jsonResponse['description']; // Set the li to jsonResponse gotten back from server
                document.getElementById('todos').appendChild(liItem); //append li to the todos list
                document.getElementById('error').className = 'hidden';
            }).catch(function () {
                document.getElementById('error').className = '';
            })
        }
    </script>
  </body>
</html>