<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
          display: none;
          
      }
      ul {
          list-style: none;
          padding: 0;
          margin: 0;
          width: 200px;
      }
      li {
          clear: both;
      }
      li button {
          -webkitappearance: none;
          border: none;
          outline: none;
          color: red;
          float: right;
          cursor: pointer;
          font-size: 20px;
          background: none;
      }
    </style>
  </head>
  <body>
    <div id="error" class="hidden">Something went wrong</div>
    <form id="form">
        <input type="text" name="description" id="description"/>
        <input type="submit" value="Create" />
    </form>
    <ul id="todos">
      {% for d in data %}
      <li><input type="checkbox" data-id="{{ d.id }}" class="check-completed" 
        {% if d.completed %} checked {% endif %}/> 
        {{ d.description }}
        <button>&cross;</button>
      </li>
      {% endfor %}
    </ul>
    <script>
        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i =0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function (e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                const newCompleted = e.target.checked;
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST', 
                    body: JSON.stringify({
                        'completed' : newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function() {
                    document.getElementById('error').className = 'hidden';
                }).catch(function(){
                    document.getElementById('error').className = 'error';
                })
            }

        }
        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body : JSON.stringify({
                    'description' : document.getElementById('description').value
                }),
                headers: {
                    'Content-Type' : 'application/json'
                }
            }).then(function(response) {
                return response.json();
            }).then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI'); //Create a new li HTML element
                liItem.innerHTML = jsonResponse['description']; // Set the li to jsonResponse gotten back from server
                document.getElementById('todos').appendChild(liItem); //append li to the todos list
                document.getElementById('error').className = 'hidden';
            }).catch(function () {
                document.getElementById('error').className = '';
            })
        }
    </script>
  </body>
</html>