<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      .hidden {
          display: none;
          
      }
      ul {
          list-style: none;
          padding: 0px;
          margin: 0px;
          width: 200px;
          display: inline-block;
      }
      li {
          clear: both;
      }
      li button {
          -webkitappearance: none;
          border: none;
          outline: none;
          color: red;
          float: right;
          cursor: pointer;
          font-size: 20px;
          background: none;
      }

      .list-wrapper, .todos-wrapper {
          display: inline-block;
          padding: 10px;
          vertical-align: top;
      }

    </style>
  </head>
  <body>
    <div class="list-wrapper">
      <h4>TODO LIST</h4>
      <form id="list-form">
        <input type="text" id="list-name" name="name" />
        <input type="submit" value="Add List" />
      </form>
      <div id="error" class="hidden">Something went wrong!</div>
      <ul id="lists">
        
        {% for item in lists %}
        
        <li>
          <input type="checkbox" data-id="{{ item.id }}" class="list-check-completed">
          <a href="/lists/{{item.id}}">{{item.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
      
    <div class="todos-wrapper">
    <h4>TODO ITMES</h4>
    <h4>{{ active_list.name }}</h4>
      <form id="todo-form">
        <input type="text" id="description" name="description" />
        <input id="list_id" type="hidden" value="{{ active_list.id }}">
        <input type="submit" value="Create" />
      </form>
      <div id="error" class="hidden">Something went wrong!</div>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
          {{ todo.description }}
          <button class="delete-button" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        const deleteTodos = document.querySelectorAll('.delete-todo');
        for(let i = 0; i < deleteTodos.length; i++) {
            const btn = deleteTodos[i];
            btn.onclick = function (e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                });
            }

        }

        const list_checkboxes = document.querySelectorAll('.list-check-completed');
        for( let i = 0; i < list_checkboxes.length; i++) {
            const checkbox = list_checkboxes[i];
            checkbox.onchange = function (e) {
                if (e.target.checked) {
                    const listId = e.target.dataset['id'];
                     fetch('/lists/' + listId + '/set-completed', {
                         method: 'POST',
                         headers: {
                             'Content-Type' : 'application/json'
                         }
                     })
                     .then (function(jsonResponse){
                         document.getElementById('error').className = 'hidden';

                         const todo_checkboxes = document.querySelectorAll('.check-completed');
                         for (let i = 0; i < todo_checkboxes.length ; i++) {
                             const checkbox = todo_checkboxes[i];
                             checkbox.checked = true;
                         }
                     }).catch(function(){
                         document.getElementById('error').className = '';
                     })
                }
            }
        }

        const todo_checkboxes = document.querySelectorAll('.check-completed');
        for (let i =0; i < todo_checkboxes.length; i++) {
            const checkbox = todo_checkboxes[i];
            checkbox.onchange = function (e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                const newCompleted = e.target.checked;
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST', 
                    body: JSON.stringify({
                        'completed' : newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function() {
                    document.getElementById('error').className = 'hidden';
                }).catch(function(){
                    document.getElementById('error').className = 'error';
                })
            }

        }
        document.getElementById('todo-form').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body : JSON.stringify({
                    'description' : document.getElementById('description').value,
                    'list_id': document.getElementById('list_id').value
                }),
                headers: {
                    'Content-Type' : 'application/json'
                }
            }).then(function(response) {
                return response.json();
            }).then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI'); //Create a new li HTML element
                liItem.innerHTML = jsonResponse['description']; // Set the li to jsonResponse gotten back from server
                document.getElementById('todos').appendChild(liItem); //append li to the todos list
                document.getElementById('error').className = 'hidden';
            }).catch(function () {
                document.getElementById('error').className = '';
            })
        }

        document.getElementById('list-form').onsubmit  = function (e) {
            e.preventDefault();
            fetch('/lists/create', {
                method: 'POST',
                body: JSON.stringify({
                    'name' : document.getElementById('list-name').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function (response) {
                return response.json();
            }).then(function (jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = jsonResponse['name'];
                document.getElementById('lists').appendChild(liItem);
                document.getElementById('error').className = 'hidden';

              }).catch(function () {
                document.getElementById('error').className = '';
            });
        }


    </script>
  </body>
</html>